<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.baselibrary">

    <!-- 网络权限开始 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- wifi信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- wifi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 运营商信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 网络权限结束 -->

    <!-- 存储读写权限开始 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 存储读写权限结束 -->

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true">

    </application>


</manifest>
